# Node dependencies
node_modules/

# Build output
dist/
dist-electron/

# System files
.DS_Store
Thumbs.db

# IDE and editor folders
.vscode/
.idea/

# Husky hooks
.husky/

# Logs
*.log

# Misc
*.env 